<!DOCTYPE html>
<html>
<head>
    <title>{{ brands|join(', ') }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .alert {
            position: relative;
            padding: 1rem;
        }
        .alert-danger {
            color: #842029;
            background: #f8d7da;
        }
        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            margin: 0px;
        }
    </style>
</head>
<body>
<form action="{{ shopperResultUrl }}" class="paymentWidgets" data-brands="{{ brands|join(' ') }}"></form>
<script>
var wpwlOptions = {
    locale: "{{ locale|e('js') }}",
    style: "plain",
    total: {
        label: "{{ recipient|e('js') }}"
    },
}
</script>
<script src="{{ scriptSrc }}"></script>
<script type="text/javascript">
    function cannotMakePayment()
    {
        var div = document.createElement('div');
        div.classList.add('alert', 'alert-danger');
        div.attributes['role'] = 'alert';
        if (wpwlOptions.locale === 'de') {
            div.innerText = 'Apple Pay steht auf diesem Endgerät nicht zur Verfügung!'
        } else {
            div.innerText = 'Apple Pay is not available on this device!'
        }

        var body = document.querySelector('body');
        body.append(div);
    }

    // Checking for Apple Pay Availability
    // https://developer.apple.com/documentation/apple_pay_on_the_web/apple_pay_js_api/checking_for_apple_pay_availability
    if (window.ApplePaySession) {
        //var merchantIdentifier = 'example.com.store';
        //var promise = ApplePaySession.canMakePaymentsWithActiveCard(merchantIdentifier);
        //promise.then(function (canMakePayments) {
            var canMakePayments = ApplePaySession.canMakePayments();
            if (canMakePayments) {
                // Display Apple Pay button here.
            } else {
                cannotMakePayment();
            }
        //});
    } else {
        cannotMakePayment();
    }
</script>
</body>
</html>