<!DOCTYPE html>
<html>
<head>
    <title>{{ brands|join(', ') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body {
            font-family: sans-serif;
        }

        body {
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            margin: 0px;
        }

        /* workaround chrome layout being broken with 320px wide window */
        @media (max-width: 480px) {
            .wpwl-label-brand {
                width: 100%;
            }
        }
    </style>
</head>
<body>
<form action="{{ shopperResultUrl }}" class="paymentWidgets" data-brands="{{ brands|join(' ') }}"></form>
<script>
var wpwlOptions = {
    locale: "{{ locale|e('js') }}",
    style: "plain",
}
</script>
<script src="{{ scriptSrc }}"></script>
</body>
</html>